/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:wght@600&family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Noto+Sans:wght@600&family=Roboto:wght@500&display=swap');
*{    
    background-color: #8CC461;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;

    
}
.wrapper{
    
  
    width: 100vw;  
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    

}

#action-message{
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;

}
.hands{
    background-image: url(NicePng_triangle-png_27886.png);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position: 50px 50px;
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap ;
    justify-content:space-around;
    align-items: center;
    margin-left: 37%;


}

.gamename{
    font-family:'Roboto', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 40px;
    margin-left: 6px;
    align-items: center;
}

.scoreboard{
    width: 800px;
    height: 150px;
    border: 3px solid white;
    display: flex; 
     flex-direction: row; 
     border-radius: 10px;
    

}

.gamescore{
    
    display: flex;
    flex-direction: row;
    margin-left: 340px;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}
.result{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.userscore{
    background-color: white;
    width:120px;
    height: 120px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    font-weight: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.computerscore{
    background-color: white;
    width:120px;
    height: 120px;
    border-radius: 10px;
    margin-left: 10px;
    text-align: center;
    padding: 5px;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.choice{
    width: 50px; 
    height: 0px;
    border-radius: 100px;
    padding-bottom: 50px;
    background-color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .2s;
}

.choice:hover {
    transform: scale(1);
  }




#stone{
    width: 130px; 
    height: 130px;
    border-radius: 100px;
    padding-bottom: 50px;
    background-color:#0074B6;
    display: flex;
    justify-content: center;
    padding: 15px;
    box-shadow: 0px 0px 10px;
    transition: transform .2s;

}

#stone:hover {
    transform: scale(1.2); }




#paper{
    width: 130px; 
    height: 130px;
    border-radius: 100px;
    padding-bottom: 50px;
    background-color:#BD00FF;
    display: flex;
    justify-content: center;
    padding: 15px;
    box-shadow: 0px 0px 10px;

}

#paper:hover {
    transform: scale(1.2); }


#scissor{
    width: 130px; 
    height: 130px;
    border-radius: 100px;
    padding-bottom: 50px;
    background-color:#FFA943;
    display: flex;
    justify-content: center;
    padding: 15px;
    box-shadow: 0px 0px 10px;

}
#scissor:hover {
    transform: scale(1.2); 
  }


.userSCR{
    width:70px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 50px;
    margin-top: 20px;

}

.compSCR{
    
    width:70px;
    height: 70px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 50px;

}

.rule-window{
    width: 350px;
    height: 350px;
    background-color:#004429;
    margin-top: 0px;
    margin-left: 60px;
    border: solid white 10px;
    border-radius: 15px;
    display: flex; 
    flex-direction: column;
    align-items: center;
    display: none;


}
.main-div-input{
    display: flex;
    flex-direction: row;

}


.contest {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    width: 900px;
    display: none;
    justify-content: center;
    margin-left: 250px;
    align-items: center;
    margin-bottom: 60px;
    
  }
  
  .contest img {
    width: 275px;
    height: 275px;
  }
  
  .contest > div {
    flex: 1;
  }
    
  .contest h1 {
  

    color: white;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 10px;
  
    
  }


  
  .contest .newGame {
    color: hsl(229, 25%, 31%);
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.15s;
  }
  
  .newGame:hover {
    background: rgb(218, 218, 218);
    transform: translate3d(0px, -2px, 0px);
  }
  
  .contest .handImageContainer {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
    
  }
  
  .referee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  
  .referee h1 {
    font-size: 45px;
    color: white;
  }
  
  .computerhand {

    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }

.modal {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  background: var(--shadow-med);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
  padding: 5px;
  margin: auto;
}
.modal__container {
  background: #fff;
  border-radius: 0.5rem;
  
}
.modal__header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 2rem 1rem;
  background-color: #004429;
}
.modal__heading {
  font-size: 1.5rem;
  color: white;
  background-color: #004429;
}
.close-btn {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.show-modal {
  opacity: 1;
  pointer-events: initial;
}